<section>
  <h1>Notas</h1>
  <table>
    <tr>
      <th>Nome da disciplina</th>
      <th>P1</th>
      <th>P2</th>
      <th>Média</th>
    </tr>
    <tr *ngFor="let item of schedulesService.getList()">
      <td>{{item.name}}</td>
      <td>{{item.p1}}</td>
      <td>{{item.p2}}</td>
      <td>{{(+item.p1 + +item.p2) / 2}}</td>
    </tr>
  </table>
  <div class="form">
    <label>
      Selecione uma disciplina:
      <select [(ngModel)]="id">
      <option *ngFor="let item of schedulesService.getList()" value={{item.id}}>{{item.name}}</option>
    </select>
    </label>
    <label>
    P1:
    <input type="number" [(ngModel)]="p1" required min="0" max="10">
  </label>
    <label>
    P2:
    <input type="number" [(ngModel)]="p2" required min="0" max="10">
  </label>
    <input type="submit" value="Adicionar" (click)="handleClick()">
  </div>
</section>