section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label > input {
  margin-left: 0.5rem;
  background: transparent;
  border: 1px solid #e1e5e5;
  font-size: 1rem;
  padding: 0.25rem;
  color: #e1e5e5;
  border-radius: 0.25rem;
}

input[type='submit'] {
  padding: 0.3rem 0.75rem !important;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.5rem;
}

ul {
  list-style: none;
  padding: 0rem;
  border: 1px solid #e1e5e5;
  margin: 2rem auto;
  border-radius: 0.25rem;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul p {
  margin: 0;
}

ul button {
  margin: 0 2rem;
  cursor: pointer;
  font-weight: bold;
  background: none;
  color: #e1e5e5;
  border: 1px solid #e1e5e5;
  border-radius: 0.25rem;
}

li:nth-child(odd) {
  background-color: rgba(225, 225, 230, 0.1);
}
