ul {
  list-style: none;
  padding: 0;
  font-family: 'Nunito';
}

li + li {
  margin-top: 1rem;
}

li {
  border: 1px solid #e1e1e6;
  width: fit-content;
  padding: 1rem;
}

li:hover {
  animation: move 0.3s forwards ease-in-out;
}

a {
  color: #67e480;
}

@keyframes move {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(10px, 0, 0);
  }
}
