<section>
  <h1>Home</h1>
  <h2>App de cálculo de juros:</h2>
  <ul>
    Criar no StackBlitz um novo projeto com 3 páginas:
    <li>Uma que mostre seus dados de identificação: RA, nome completo e link do perfil no GitHub</li>
    <li>Uma que calcule juros simples a partir de inputs disponíveis na mesma página</li>
    <li>Uma que calcule juros compostos a partir de inputs disponíveis na mesma página</li>
    <li>Os valores dos juros acumulados mês a mês devem ser apresentadas em uma tabela</li>
  </ul>
  <hr>
  <h1>Sobre</h1>
  <p>Me chamo Thalles Galvão e trabalho como Desenvolvedor Front-End. Estou no 5º ciclo da Fatec. <br>Meu número de
    matrícula é: 0050831921029</p>
  <a href="https://github.com/thallesgalv" target="_blank">
    Perfil no Github</a>
</section>