<app-header>
</app-header>

<main>
  <h1>6.1 - Projeto timer com disciplinas</h1>
  <h2>Instruções:</h2>
  <p>Crie um projeto de aplicação web com sua identificação (nome completo e RA) no cabeçalho e os seguintes recursos:
  </p>
  <ul>
    <li>Um serviço de temporizador</li>
    <li>Um componente que permita iniciar e parar o temporizador com um intervalo definido pelo usuário</li>
    <li>Um serviço para prover uma lista de disciplinas matriculadas, já populada com as disciplinas que você está
      cursando neste semestre</li>
    <li>Um componente que permita listar e manipular (incluir e remover) sua lista de disciplinas</li>
  </ul>
  <hr>
  <app-subjects></app-subjects>
</main>